<div class="home">
    <div class="title-area">
        <h2 class="text text-title">Person Details</h2>
        <button class="button-add" routerLink="form" mat-button>
            <span class="text text-add-person">+ Add Person</span>
        </button>
    </div>
    <table class="table">
        <tr class="head-row">
            <th class="text-table text-fullname">Fullname</th>
            <th class="text-table text-address">Address</th>
            <th class="text-table text-city">City</th>
            <th class="text-table text-state">State</th>
            <th class="text-table text-zip">Zip Code</th>
            <th class="text-table text-phone">Phone Number</th>
        </tr>
    </table>
</div>